#template_scroller {
  background-color: black;
}

#template_container {
  background-color: black !important;
}

#header_beta {
  background-color: black;
}

.white-wrapper {
  background-color: black !important;
}


h1 {
  color:#ecf0f1;
}
